// Palette principale
$color-black: #060613; // Nero profondo // Nero profondo
$color-black-secondary: #1b1b27; // Nero secondario

// Colori di testo
$text-nocolor: #ffffff;
$text-primary: #daba07; // Testo
$text-secondary: #7e6b00; // Testo

//border
$border-primary: #555; // Testo

//button
$button-primary: #daba07; // Testo
$button-hover: #e0cf30; // Testo
$button-text: #060613; // Nero profondo

// Colori per stati
$success: #28a745;
$error: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
