@import '@/styles/breakpoints.module.scss';

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
      }
}