@import "@/styles/colors.module.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  border-bottom: 1px solid $border-primary;

  &__logo {
    a {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
  }

  &__links {
    display: flex;
    gap: 1.5rem;

    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: $color-black;
      padding: 1rem 2rem;
      display: none;
    }

    &--open {
      display: flex !important;
      border-bottom: 1px solid $border-primary;
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $text-nocolor;
    transition: color 0.3s ease;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -4px;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      width: 100%;
      height: 2px;
      background-color: $button-primary;
      transition: transform 0.3s ease;
    }

    &:hover {
      color: $text-primary;

      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: $button-primary;

    @media (max-width: 768px) {
      display: block;
    }
  }
}
