@import "@/styles/colors.module.scss";

.form {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: $color-black-secondary;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__input {
    background-color: #f9fcd3;
  }

  &__title {
    text-align: center;
    color: $text-primary;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 500;
      color: $text-primary;
    }

    input {
      padding: 0.75rem 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.2s ease;

      &:focus {
        border-color: $button-primary;
        outline: none;
      }
    }
  }

  &__error {
    color: $error;
    font-size: 0.9rem;
    text-align: center;
  }

  &__button {
    padding: 0.75rem 1rem;
    background-color: $button-primary;
    color: $button-text;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover:not(:disabled) {
      background-color: $button-hover;
    }

    &:disabled {
      background-color: $button-hover;
      cursor: not-allowed;
    }
  }

  &__message {
    color: green;
    font-size: 0.9rem;
    text-align: center;
  }
}
